<section>
  <form
    [formGroup]="loginForm"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="15px"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field appearance="outline">
      <input
        type="email"
        matInput
        placeholder="Your Email"
        formControlName="email"
      />
      <mat-hint>Please enter a valid email</mat-hint>
      <mat-error>Invalid / missing email</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input
        type="password"
        matInput
        placeholder="Your password"
        formControlName="password"
      />
      <mat-hint>Please enter you password.</mat-hint>
      <mat-error>enter at least 6 character</mat-error>
    </mat-form-field>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="loginForm.invalid"
    >
      Login
    </button>
  </form>
</section>
